@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: local("Red Hat Display"),
    url("fonts/RedHatDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  src: local("Red Hat Display"),
    url("fonts/RedHatDisplay-Black.ttf") format("truetype");
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --cyan-100: #71c0d4;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --purple-100: #b18bdd;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;
  --space-1400: 11.2rem;
  --space-1000: 8rem;
  --space-900: 7.2rem;
  --space-800: 6.4rem;
  --space-700: 5.6rem;
  --space-600: 4.8rem;
  --space-500: 4rem;
  --space-400: 3.2rem;
  --space-300: 2.4rem;
  --space-200: 1.6rem;
  --space-100: 0.8rem;
  --space-50: 0.4rem;
  --font-base: "Red Hat Display", sans-serif;
  --font-0: 1.2rem;
  --font-1: 1.6rem;
  --font-2: 3.2rem;
  --font-3: 4rem;
  --font-4: 4.8rem;
  --corner-radius: 2.9rem;
}

body {
  font-family: var(--font-base);
  font-size: var(--font-1);
  line-height: 1.5;
  color: var(--slate-600);
  text-align: center;
}

main {
  padding: 32px;
  padding-block-end: var(--space-800);
}

h1 {
  font-size: var(--font-4);
  max-inline-size: 10ch;
}

h2 {
  max-inline-size: 19ch;
  font-size: 3.2rem;
  color: var(--slate-900);
}
p {
  max-inline-size: 40ch;
}

h1,
h2 {
  line-height: 1.1;
  font-weight: 900;
  color: var(--slate-900);
}

nav {
  padding-block-start: var(--space-600);
  display: flex;
  justify-content: center;
}

hgroup p {
  color: var(--cyan-600);
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 1.1;
  font-size: 14px;
  text-transform: capitalize;
}

hgroup > * + * {
  margin-block-start: 16px;
}

header {
  overflow: hidden;
}

.hero {
  padding-block-start: var(--space-800);
  padding-block-end: var(--space-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-600);
}

.hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-300);
  padding-inline: var(--space-300);
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: var(--space-200);
}

.img-container {
  width: 110%;
}

.img-container img {
  margin-inline: auto;
  min-block-size: 16rem;
  height: auto;
  object-fit: cover;
}

.desktop-image-right {
  display: none;
}

@media (min-width: 1240px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-400);
  }

  .hero-body {
    min-inline-size: 40rem;
  }

  .desktop-image-right {
    display: block;
  }

  .desktop-image-right img {
    position: relative;
    right: -15%;
    display: block;
  }

  .desktop-image-left img {
    position: relative;
    left: -15%;
  }
}

.example-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(147.5px, 1fr));
  gap: var(--space-200);
}

.example-images img {
  border-radius: 0.8rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-400);
}

main article > * + * {
  margin-block-start: 64px;
}

footer .number {
  top: 2.8rem;
}

.call-to-action {
  background-image: url("assets/mobile/image-footer.jpg");
  padding-inline: var(--space-400);
  padding-block: var(--space-800);
  background-color: var(--cyan-600);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-300);
}

.call-to-action h2 {
  color: var(--white);
}

/*components*/
.btn {
  border-radius: var(--corner-radius);
  padding-inline: var(--space-500);
  padding-block: var(--space-200);
  background-color: var(--btn-bg-color, var(--slate-900));
  color: var(--white);
  border: none;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: var(--btn-bg-color-hover, var(--slate-300));
}

.btn-cyan {
  --btn-bg-color-hover: var(--cyan-100);
  --btn-bg-color: var(--cyan-600);
}

.btn-purple {
  --btn-bg-color-hover: var(--purple-100);
  --btn-bg-color: var(--purple-600);
}

.number {
  border-radius: 50%;
  aspect-ratio: 1;
  inline-size: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--slate-600);
  font-weight: 900;
  border: var(--slate-300) solid 0.1rem;
  margin-block-start: 8rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.number::before {
  content: "";
  block-size: 8rem;
  position: absolute;
  border-inline-start: var(--slate-300) solid 0.1rem;
  top: -8rem;
}

/*utilities*/

.color-purple-300 {
  color: var(--purple-300);
}

.color-cyan-300 {
  color: var(--cyan-300);
}
